:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hero-footer: #2f303a;
  --logo-nav: #000000;
  --title-text-color-footer: #ffffff;
  --button-hover-focus: #188ce8;
  --background-our-team-filter: #f5f4fa;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*==================оформление шапки (навигация)==============*/
.nav .logo {
  color: var(--logo-nav);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.menu .menu-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav .menu-link:hover,
.nav .menu-link:focus,
.nav .menu-link.current,
.contact .contact-mail:hover,
.contact .contact-mail:focus,
.contact .contact-phone:hover,
.contact .contact-phone:focus,
.logo-accent {
  color: var(--accent-color);
}
.contact .contact-mail,
.contact .contact-phone {
  color: var(--primary-text-color);
}
/*====================оформление секции героя ======================*/
.hero {
  background-color: var(--background-hero-footer);
  text-align: center;
}
.hero .hero-title {
  color: var(--title-text-color-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .hero-button {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--button-hover-focus);
  color: var(--title-text-color-footer);
}
/*====================Конец оформления секции героя ======================*/

/*============================описание секции=============================*/
.section-title,
.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section .desc,
.footer .desc {
  font-size: 14px;
  line-height: 1.71;
}
/*============================Конец описания секции=========================*/

/*======================Секция чем мы занимаемся============================*/
.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*========================Конец секции чем мы занимаемся======================*/

/*=======================секция наша команда==================================*/
.team {
  background-color: var(--background-our-team-filter);
}
.team-title {
  font-weight: 500;
}
.team .desc,
.team-title {
  font-size: 16px;
  line-height: 1.18;
}
/*=======================Конец секция наша команда==================================*/

/*==================================нижний колонтитул===============================*/
.footer {
  background-color: var(--background-hero-footer);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer-address,
.footer-logo {
  color: var(--title-text-color-footer);
}
.footer-mail,
.footer-phone {
  color: var(--footer-mail-phone);
}
/*==================================Конец "нижний колонтитул"=======================*/

/*====================================Портфолио====================================*/
.filter-button {
  background-color: var(--background-our-team-filter);
  color: var (--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color-footer);
}
.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name-works {
  font-size: 16px;
  line-height: 1.87;
}
/*====================================Конец "Портфолио"====================================*/
